.header-logo {
    font-size: 24px;
    font-family: 'Raleway';
    font-weight: 700;
    line-height: 1.19;
    color: var(--accent-color);
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;  
}
    
.header-logo-item {
    font-size: 24px;
    font-family: 'Raleway';
    font-weight: 700;
    line-height: 1.19;
    color: var(--logo-item-color);
}

@media screen and (max-width:480px) {
    .header-logo {
        padding: 16px 0;
    }
}

@media screen and (min-width:1200px) {
    .header-logo {
        font-size: 26px;
        padding: 16px 0;
    }
    .header-logo-item {
        font-size: 26px;
    }
}
