
.team {
    background: var(--team-bgr-color);
}
.team__lead-list{
    display: flex;
}
.team__block{
    padding-top: 30px ;
    padding-bottom: 30px;
  }
.team__title{
    font-weight: 700;
    font-size: 14px;
    font-size: 36px;
    line-height: 1.16;
    color: var(--team-title-color);
    text-align: center;
    margin-bottom: 50px;
}

.team__lead{
    background: var(--team-lead-bgr-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;

        &:last-child {
        margin-right: 0px;
        }
}

.team__lead-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--team-lead-title);
    margin-bottom: 10px;
}

.team__lead-text{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--team-lead-text);
    margin-bottom: 16px;
}

.team__soc-icon{
    display: flex;
    justify-content: center;
}

.team__soc-item + .team__soc-item {
   margin-left: 10px;
}

.team__soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--soc-icon);
    transition: 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover, &:focus {
        background-color: var(--accent-color);
        fill: var(--soc-icon-hover);
    }
}