html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Roboto,Tahoma, sans-serif;
    background: white; 
    letter-spacing: 0.03em;
    font-size: 14px;
    margin: 0px;
    }

h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}