:root {
    --bnt-color: #2196F3;
    --bnt-color-hover-focus: #188CEB;
    --contacts-color: #757575;
    --specific-text-color: #757575;
    --hero-bgr-color: #c4c4c4;
    --hero-text: #FFFFFF;
    --header-nav: #212121;
    --accent-color: #2196f3;
    --btn-text-color: #ffffff;
    --main-work: #212121;
    --specifics-title-color: #212121;
    --logo-item-color: #000000;
    --team-bgr-color: #F5F4FA;
    --team-title-color: #212121;
    --team-lead-bgr-color: #ffffff;
    --team-lead-title: #212121;
    --team-lead-text: #757575;
    --footer-bgr-color: #2F303A;
    --footer-logo-color: #ffffff;
    --footer-map: #ffffff;
    --footer-contacts: #ffffff99;
    --main-body:#FFFFFF;
    --filter-btn: #212121;
    --filter-btn-bgr: #F5F4FA;
    --works-bgr: #ffffff;
    --works-border-box: #eeeeee;
    --works-title:#212121;
    --works-text:#757575;
    --border-header: #ECECEC;
    --specifics: 30px;
    --works-block: 30px;
    --btn-shadow: rgba(0, 0, 0, 0.149);
    --h2-title: #212121;
    --soc-icon: #AFB1B8;
    --soc-icon-hover: #ffffff;
    --border-radius: #AFB1B8;
    }  